
$$ ================================================================= $$
$$ ===                materials_phits.inp (PHITS)                === $$
$$ ================================================================= $$

$$ ----------------------------------------------------------------- $$
$$ ---                     Material Section                      --- $$
$$ ----------------------------------------------------------------- $$

[Material]


$$ ----------------------------------------------------------------- $$
$$ ---                    matNum[1] :: SUS316                    --- $$
$$ ----------------------------------------------------------------- $$

$$ comment :: Stainless Steel
mat[1]
    Fe         -6.69000e-01
    C          -4.00000e-04
    Si         -1.50000e-04
    Mn         -1.00000e-02
    P          -2.25000e-04
    Ni         -1.20000e-01
    Cr         -1.70000e-01
    Mo         -2.50000e-02


$$ ----------------------------------------------------------------- $$
$$ ---                      matNum[2] :: He                      --- $$
$$ ----------------------------------------------------------------- $$

mat[2]
    He          1.00000e+00


$$ ----------------------------------------------------------------- $$
$$ ---                      matNum[3] :: Ta                      --- $$
$$ ----------------------------------------------------------------- $$

$$ comment :: pure Tantal
mat[3]
    Ta          1.00000e+00


$$ ----------------------------------------------------------------- $$
$$ ---                     matNum[4] :: Air                      --- $$
$$ ----------------------------------------------------------------- $$

$$ comment :: JAERI-Tech-96-001 <-- JAERI-M6928
mat[4]
    H          -1.00000e-03
    C          -1.26000e-02
    N          -7.55000e+01
    O          -2.32000e+01


$$ ----------------------------------------------------------------- $$
$$ ---                      matNum[5] :: Pt                      --- $$
$$ ----------------------------------------------------------------- $$

$$ comment :: pure platinuml
mat[5]
    Pt          1.00000e+00


$$ ----------------------------------------------------------------- $$
$$ ---                      matNum[6] :: Ti                      --- $$
$$ ----------------------------------------------------------------- $$

$$ comment :: pure Titanium
mat[6]
    Ti          1.00000e+00


$$ ----------------------------------------------------------------- $$
$$ ---                     matNum[7] :: H2O                      --- $$
$$ ----------------------------------------------------------------- $$

mat[7]
    H           2.00000e+00
    O           1.00000e+00


$$ ----------------------------------------------------------------- $$
$$ ---                      matNum[8] :: Au                      --- $$
$$ ----------------------------------------------------------------- $$

$$ comment :: pure gold
mat[8]
    Au          1.00000e+00


$$ ----------------------------------------------------------------- $$
$$ ---                    matNum[9] :: RaCl2                     --- $$
$$ ----------------------------------------------------------------- $$

mat[9]
    226Ra       1.00000e+00
    Cl          2.00000e+00


$$ ----------------------------------------------------------------- $$
$$ ---                    matNum[10] :: SiO2                     --- $$
$$ ----------------------------------------------------------------- $$

$$ comment :: Quartz-Glass
mat[10]
    Si          1.00000e+00
    O           2.00000e+00



$$ ----------------------------------------------------------------- $$
$$ ---               matNameColor section (PHITS)                --- $$
$$ ----------------------------------------------------------------- $$

[MatNameColor]
    mat  name               size       color               
    1    SUS316             2.0        red                 
    2    He                 2.0        pastelcyan          
    3    Ta                 2.0        purple              
    4    Air                2.0        cyan                
    5    Pt                 2.0        purple              
    6    Ti                 2.0        darkred             
    7    H2O                2.0        cyanblue            
    8    Au                 2.0        red                 
    9    RaCl2              2.0        violet              
    10   SiO2               2.0        blue                
