
$$ ================================================================= $$
$$ ===                materials_phits.inp (PHITS)                === $$
$$ ================================================================= $$

$$ ----------------------------------------------------------------- $$
$$ ---                     Material Section                      --- $$
$$ ----------------------------------------------------------------- $$

[Material]


$$ ----------------------------------------------------------------- $$
$$ ---                  matNum[5001] :: SUS316                   --- $$
$$ ----------------------------------------------------------------- $$

$$ comment :: Stainless Steel
mat[5001]
    Fe         -6.69000e-01
    C          -4.00000e-04
    Si         -1.50000e-04
    Mn         -1.00000e-02
    P          -2.25000e-04
    Ni         -1.20000e-01
    Cr         -1.70000e-01
    Mo         -2.50000e-02


$$ ----------------------------------------------------------------- $$
$$ ---                  matNum[5002] :: SUS316                   --- $$
$$ ----------------------------------------------------------------- $$

$$ comment :: Stainless Steel
mat[5002]
    Fe         -6.69000e-01
    C          -4.00000e-04
    Si         -1.50000e-04
    Mn         -1.00000e-02
    P          -2.25000e-04
    Ni         -1.20000e-01
    Cr         -1.70000e-01
    Mo         -2.50000e-02


$$ ----------------------------------------------------------------- $$
$$ ---                  matNum[5003] :: SUS316                   --- $$
$$ ----------------------------------------------------------------- $$

$$ comment :: Stainless Steel
mat[5003]
    Fe         -6.69000e-01
    C          -4.00000e-04
    Si         -1.50000e-04
    Mn         -1.00000e-02
    P          -2.25000e-04
    Ni         -1.20000e-01
    Cr         -1.70000e-01
    Mo         -2.50000e-02


$$ ----------------------------------------------------------------- $$
$$ ---                  matNum[5004] :: SUS316                   --- $$
$$ ----------------------------------------------------------------- $$

$$ comment :: Stainless Steel
mat[5004]
    Fe         -6.69000e-01
    C          -4.00000e-04
    Si         -1.50000e-04
    Mn         -1.00000e-02
    P          -2.25000e-04
    Ni         -1.20000e-01
    Cr         -1.70000e-01
    Mo         -2.50000e-02


$$ ----------------------------------------------------------------- $$
$$ ---                  matNum[5005] :: SUS316                   --- $$
$$ ----------------------------------------------------------------- $$

$$ comment :: Stainless Steel
mat[5005]
    Fe         -6.69000e-01
    C          -4.00000e-04
    Si         -1.50000e-04
    Mn         -1.00000e-02
    P          -2.25000e-04
    Ni         -1.20000e-01
    Cr         -1.70000e-01
    Mo         -2.50000e-02


$$ ----------------------------------------------------------------- $$
$$ ---                  matNum[5006] :: SUS316                   --- $$
$$ ----------------------------------------------------------------- $$

$$ comment :: Stainless Steel
mat[5006]
    Fe         -6.69000e-01
    C          -4.00000e-04
    Si         -1.50000e-04
    Mn         -1.00000e-02
    P          -2.25000e-04
    Ni         -1.20000e-01
    Cr         -1.70000e-01
    Mo         -2.50000e-02


$$ ----------------------------------------------------------------- $$
$$ ---                  matNum[5007] :: SUS316                   --- $$
$$ ----------------------------------------------------------------- $$

$$ comment :: Stainless Steel
mat[5007]
    Fe         -6.69000e-01
    C          -4.00000e-04
    Si         -1.50000e-04
    Mn         -1.00000e-02
    P          -2.25000e-04
    Ni         -1.20000e-01
    Cr         -1.70000e-01
    Mo         -2.50000e-02


$$ ----------------------------------------------------------------- $$
$$ ---                  matNum[5008] :: SUS316                   --- $$
$$ ----------------------------------------------------------------- $$

$$ comment :: Stainless Steel
mat[5008]
    Fe         -6.69000e-01
    C          -4.00000e-04
    Si         -1.50000e-04
    Mn         -1.00000e-02
    P          -2.25000e-04
    Ni         -1.20000e-01
    Cr         -1.70000e-01
    Mo         -2.50000e-02


$$ ----------------------------------------------------------------- $$
$$ ---                  matNum[5009] :: SUS316                   --- $$
$$ ----------------------------------------------------------------- $$

$$ comment :: Stainless Steel
mat[5009]
    Fe         -6.69000e-01
    C          -4.00000e-04
    Si         -1.50000e-04
    Mn         -1.00000e-02
    P          -2.25000e-04
    Ni         -1.20000e-01
    Cr         -1.70000e-01
    Mo         -2.50000e-02


$$ ----------------------------------------------------------------- $$
$$ ---                    matNum[5010] :: H2O                    --- $$
$$ ----------------------------------------------------------------- $$

mat[5010]
    H           2.00000e+00
    O           1.00000e+00


$$ ----------------------------------------------------------------- $$
$$ ---                    matNum[5011] :: Ta                     --- $$
$$ ----------------------------------------------------------------- $$

$$ comment :: pure Tantal
mat[5011]
    Ta          1.00000e+00


$$ ----------------------------------------------------------------- $$
$$ ---                    matNum[5012] :: Air                    --- $$
$$ ----------------------------------------------------------------- $$

$$ comment :: JAERI-Tech-96-001 <-- JAERI-M6928
mat[5012]
    H          -1.00000e-03
    C          -1.26000e-02
    N          -7.55000e+01
    O          -2.32000e+01



$$ ----------------------------------------------------------------- $$
$$ ---               matNameColor section (PHITS)                --- $$
$$ ----------------------------------------------------------------- $$

[MatNameColor]
    mat  name               size       color               
    5001 SUS316             2.0        red                 
    5002 SUS316             2.0        red                 
    5003 SUS316             2.0        red                 
    5004 SUS316             2.0        red                 
    5005 SUS316             2.0        red                 
    5006 SUS316             2.0        red                 
    5007 SUS316             2.0        red                 
    5008 SUS316             2.0        red                 
    5009 SUS316             2.0        red                 
    5010 H2O                2.0        cyanblue            
    5011 Ta                 2.0        purple              
    5012 Air                2.0        cyan                
