
$$ ================================================================= $$
$$ ===  source                                                   === $$
$$ ================================================================= $$

[Source]

{% if prm["beam.type"] == "gaussian" %}
    $$ ----------------------------------------------------------------- $$
    $$ ---         Gaussian beam ( Gaussian distribution )           --- $$
    $$ ----------------------------------------------------------------- $$
    s-type    =   13                    $$ ( 13:gaussian-xy )
    totfact   = {{prm["beam.totfact"]}}
    proj      = electron
    dir       =  1.0
    r1        = {{prm["beam.FWHM"]}}
    z1        = {{prm["beam.zStart"]}}
    z0        = {{prm["beam.zEnd"]}}
    e-type    = 2
    eg0       = {{prm["beam.energy"]}}
    eg1       = {{prm["beam.energy.FWHM.MeV"]}}
    eg2       = {{prm["beam.energy.cutoff.lower"]}}
    eg3       = {{prm["beam.energy.cutoff.upper"]}}
    $$ e0        = {{prm["beam.energy"]}}    $$
    

{% endif %}